---
layout: default
---

<section class="more-info">
    <div class="container">
        <div class="row">
            <div class="col-md-12 more-info-data" style="min-height: 380px;">
                <div class="more-info-data-text" ng-show="showMoreText">
                    {{ content }}
                </div>
                <div class="more-info-data-btn-container">
                    <a class="btn btn-default" href="http://jobsdata.co.uk">Start your {{page.region}} job search...</a>
                </div>
            </div>
        </div>
    </div>
</section>





